/* selector con etiquetas html */
h1{
    color:tomato;
}
ul{
    color:blue;
}
h3{
    color:aqua
}

/* selector por clases */
.texto {
    color:green
}

/* selector por id */
#cebolla {
    color:chartreuse
}